{% extends "base.html" %}
{% load static %}
{% block header %}

{% endblock %}
{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-white py-1 py-sm-4">
        <div class="container-fluid">
            <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center mx-auto text-right">
                    <li class="nav-item mr-5">
                        <a class="navbar-brand" href="/">
                            <img src="{% static "img/logo.png" %}" class="img-fluid nav-logo" alt="logo" loading="lazy">
                        </a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="/#kitchens">КУХНІ</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="/#decor">ДЕКОР</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="/#soft">М'ЯКІ МЕБЛІ</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="/#landscape">ЛАНДШАФТ</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="/#portfolio">ПОРТФОЛІО</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="/blog">БЛОГ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <!-- Navifgation END -->
{% endblock %}
{% block title %}Инжир - Блог{% endblock %}

{% block content %}
    <div class="container mt-5">
    {% if tag %}
        <h2 class="my-4">Дописи із тегом "{{ tag.name }}"</h2>
    {% endif %}

        <div class="row justify-content-around">


     {% for post in posts %}
         <div class="col-md-5 col-sm-12 mb-4 mx-4">
         <div class="card">
          <img class="card-img-top img-fit" src="{{post.image.url }}" alt="{{ post.title }}p">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ post.get_absolute_url }}" class="text-body">{{ post.title }}</a></h5>
            <p class="card-text"></p>
              <small class="tags">
                {% for tag in post.tags.all %}
                <a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </small>
          {{ post.body|truncatewords:30|linebreaks }}
          </div>
        </div>
     </div>
     {% endfor %}
     </div>
    </div>
    <div class="container">
    {% include "pagination.html" with page=posts %}
    </div>


{% endblock %}
