{% extends 'header.html' %}
{% load static %}
{% block content %}
    <!-- Kitchen section -->
    <div class="anchor" id="kitchens"></div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <h1 class="col-8 section__header text-center mb-5 text-uppercase" >кухні</h1>
            <div class="col-10 section__text text-center mb-5">Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="owl-kitchen col-12 section__slider">
                <div>
                  <img src="{% static "img/kitchen2.png" %}" class="img-fluid" alt="image">
                </div>
              <div>
                  <img src="{% static 'img/kitchen1.png' %}" class="img-fluid" alt="image">
              </div>
              <div>
                  <img src="{% static "img/kitchen2.png" %}" class="img-fluid" alt="image">
              </div>
                <div>
                  <img src="{% static 'img/kitchen1.png' %}" class="img-fluid" alt="image">
              </div>
            </div>
        </div>
    </div>
    <!-- Social Networks -->
    <div class="container my-5 ">
        <div class="row justify-content-center">
                <div class="col-auto"><a href="https://instagram.com/ingir.home?igshid=oae4hx9o9f1p" target="_blank"><img src="{% static 'img/instagram-logo.png' %}" class="img-fluid" alt="" /></a></div>
                <div class="col-auto"><a href="https://www.facebook.com/%D0%94%D1%96%D0%BC-%D1%96%D0%BD%D1%82%D0%B5%D1%80%D1%94%D1%80%D1%83-%D0%86%D0%BD%D0%B6%D0%B8%D1%80-112269517319260/" target="_blank"><img src="{% static 'img/facebook-logo.png' %}" class="img-fluid" alt="" /></a></div>
        </div>
    </div><!-- Social Networks END -->
    <!-- Kitchen section END -->
    <!-- Decoration section -->
    <div class="anchor" id="decor"></div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <h1 class="col-8 section__header text-center mb-5 text-uppercase">декор</h1>
            <div class="col-10 section__text text-center mb-5">Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="owl-deco col-12 section__slider">
              <div>
                  <img src="{% static 'img/Img4.png' %}" class="img-fluid" alt="image">
              </div>
              <div>
                  <img src="{% static 'img/Img5.png' %}" class="img-fluid" alt="image">
              </div>
                <div>
                  <img src="{% static 'img/Img4.png' %}" class="img-fluid" alt="image">
              </div>
              <div>
                  <img src="{% static 'img/Img5.png' %}" class="img-fluid" alt="image">
              </div>
            </div>
        </div>
    </div>
    <!-- Social Networks -->
    <div class="container my-5 ">
        <div class="row justify-content-center">
                <div class="col-auto"><a href="https://instagram.com/decor.ingir?igshid=1ha9af1wgjr32" target="_blank"><img src="{% static 'img/instagram-logo.png' %}" class="img-fluid" alt="" /></a></div>
                <div class="col-auto"><a href="https://www.facebook.com/%D0%A1%D1%82%D1%83%D0%B4%D1%96%D1%8F-%D0%B4%D0%B5%D0%BA%D0%BE%D1%80%D1%83-%D0%86%D0%BD%D0%B6%D0%B8%D1%80-113889357157789/" target="_blank"><img src="{% static 'img/facebook-logo.png' %}" class="img-fluid" alt="" /></a></div>
        </div>
    </div><!-- Social Networks END --><!-- Decoration section END -->
    <!-- Furniture section -->
    <div class="anchor" id="soft"></div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <h1 class="col-8 section__header text-center mb-5 text-uppercase">м’які меблі</h1>
            <div class="col-10 section__text text-center mb-5">Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="owl-furniture col-12 section__slider">
              <div>
                  <img src="{% static 'img/Img6.png' %}" class="img-fluid" alt="image">
              </div>
              <div>
                  <img src="{% static 'img/Img7.png' %}" class="img-fluid" alt="image">
              </div>
                <div>
                  <img src="{% static 'img/Img6.png' %}" class="img-fluid" alt="image">
              </div>
              <div>
                  <img src="{% static 'img/Img7.png' %}" class="img-fluid" alt="image">
              </div>
            </div>
        </div>
    </div>
    <!-- Social Networks -->
    <div class="container my-5 ">
        <div class="row justify-content-center">
                <div class="col-auto"><a href="https://instagram.com/ingir.home?igshid=oae4hx9o9f1p" target="_blank"><img src="{% static 'img/instagram-logo.png' %}" class="img-fluid " alt="" /></a></div>
                <div class="col-auto"><a href="https://www.facebook.com/%D0%94%D1%96%D0%BC-%D1%96%D0%BD%D1%82%D0%B5%D1%80%D1%94%D1%80%D1%83-%D0%86%D0%BD%D0%B6%D0%B8%D1%80-112269517319260/" target="_blank"><img src="{% static 'img/facebook-logo.png' %}" class="img-fluid" alt="" /></a></div>
        </div>
    </div><!-- Social Networks END -->
    <!-- Furniture section END -->
    <!-- Landscape section -->
    <div class="anchor" id="landscape"></div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <h1 class="col-8 section__header text-center mb-5 text-uppercase">ландшафт</h1>
            <div class="col-10 section__text text-center mb-5">Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="owl-carousel owl-landscape col-12 section__slider">
              <div>
                  <img src="{% static 'img/Img8.png' %}" class="img-fluid" alt="image">
              </div>
              <div>
                  <img src="{% static 'img/Img9.png' %}" class="img-fluid" alt="image">
              </div>
                <div>
                  <img src="{% static 'img/Img8.png' %}" class="img-fluid" alt="image">
              </div>
              <div>
                  <img src="{% static 'img/Img9.png' %}" class="img-fluid" alt="image">
              </div>
            </div>
        </div>
    </div>
    <!-- Social Networks -->
    <div class="container my-5 ">
        <div class="row justify-content-center">
                <div class="col-auto"><a href="https://instagram.com/ingir.home?igshid=oae4hx9o9f1p" target="_blank"><img src="{% static 'img/instagram-logo.png' %}" class="img-fluid" alt="" /></a></div>
                <div class="col-auto"><a href="https://www.facebook.com/%D0%94%D1%96%D0%BC-%D1%96%D0%BD%D1%82%D0%B5%D1%80%D1%94%D1%80%D1%83-%D0%86%D0%BD%D0%B6%D0%B8%D1%80-112269517319260/" target="_blank"><img src="{% static 'img/facebook-logo.png' %}" class="img-fluid" alt="" /></a></div>
        </div>
    </div><!-- Social Networks END --><!-- Landscape section END -->
    <!-- Portfolio section -->
    <div class="anchor" id="portfolio"></div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <h1 class="col-8 section__header text-center mb-5 text-uppercase">портфоліо</h1>
        </div>
    </div>
    <div class="container-fluid text-center ">
        <div class="row no-gutters">
            <div class="col">
                <a href="{% static 'img/Img10.png' %}" data-fancybox="gallery">
                    <img src="{% static 'img/Img10.png' %}" class="img-fluid" alt="" />
                </a>
            </div>
            <div class="col">
                <a href="{% static 'img/Img11.png' %}" data-fancybox="gallery" data-caption="My caption">
                    <img src="{% static 'img/Img11.png' %}" class="img-fluid" alt="" />
                </a>
            </div>
            <div class="col d-none d-sm-block">
                <a href="{% static 'img/Img12.png' %}" data-fancybox="gallery" data-caption="My caption">
                    <img src="{% static 'img/Img12.png' %}" class="img-fluid" alt="" />
                </a>
            </div>
            <div class="col d-none d-md-block">
                <a href="{% static 'img/Img13.png' %}" data-fancybox="gallery" data-caption="My caption">
                    <img src="{% static 'img/Img13.png' %}" class="img-fluid" alt="" />
                </a>
            </div>
            <div class="col d-none d-lg-block">
                <a href="{% static 'img/Img14.png' %}" data-fancybox="gallery" data-caption="My caption">
                    <img src="{% static 'img/Img14.png' %}" class="img-fluid" alt="" />
                </a>
            </div>
        </div>
        <div class="row justify-content-around no-gutters">
            <div class="col">
                <a href="{% static 'img/Img15.png' %}" data-fancybox="gallery" data-caption="My caption">
                    <img src="{% static 'img/Img15.png' %}" class="img-fluid" alt="" />
                </a>
            </div>
            <div class="col">
                <a href="{% static 'img/Img16.png' %}" data-fancybox="gallery" data-caption="My caption">
                    <img src="{% static 'img/Img16.png' %}" class="img-fluid" alt="" />
                </a>
            </div>
             <div class="col d-none d-sm-block">
                <a href="{% static 'img/Img17.png' %}" data-fancybox="gallery" data-caption="My caption">
                    <img src="{% static 'img/Img17.png' %}" class="img-fluid" alt="" />
                </a>
            </div>
            <div class="col d-none d-md-block">
                <a href="{% static 'img/Img18.png' %}" data-fancybox="gallery" data-caption="My caption">
                    <img src="{% static 'img/Img18.png' %}" class="img-fluid" alt="" />
                </a>
            </div>
            <div class="col d-none d-lg-block">
                <a href="{% static 'img/Img19.png' %}" data-fancybox="gallery" data-caption="My caption">
                    <img src="{% static 'img/Img19.png' %}" class="img-fluid" alt="" />
                </a>
            </div>
        </div>
    </div>
    {% endblock %}

